.userDataInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--size-4);
    padding: var(--size-4) 0;
    border-bottom: var(--def-border);

}

.userDataInfo input {
    color: var(--text-color-1);
    border: none;
    border-bottom: var(--def-border);
    height: var(--size-12);
    padding: var(--size-3);
    width: 90%;
    background-color: var(--primary-color);
    border-radius: var(--size-2);
}