/* ------------------------ Cardápio ------------------------ */
.cardapioItem {
    display: flex;
    width: 100%;
    padding: var(--size-2);
    border-bottom: var(--def-border);
    gap: var(--size-6);
    color: var(--text-color-1);
    align-items: flex-start;
}

.cardapioFoto {
    min-width: 100px;
    /* largura fixa para a foto */
    height: 100px;
    background-color: var(--accent-color);
    border-radius: var(--border-radius-sl);
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

/* Coluna da direita */
.cardapioRight {
    display: flex;
    flex-direction: column;
    /* empilha preço, descrição e controles */
    justify-content: space-between;
    flex: 1;
}

.cardapioPreco {
    font-weight: bold;
    font-size: var(--text-l);
    color: var(--accent-2-color);
    margin-bottom: var(--size-3);
}

.cardapioDescricao {
    font-size: var(--text-m);
    margin-bottom: var(--size-3);
    line-height: 1.4;
    opacity: 0.9;
}

/* -------------------- Controles de Quantidade -------------------- */
.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* todo conteúdo da footer vai pra direita */
    height: fit-content;
}

/* Ajuste no bloco de controles */
.quantidadeControls {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;

    /* --- Novo --- */
    justify-content: flex-end;
    /* força os botões para a direita */
    margin-left: auto;
    /* empurra para a direita dentro do pai */
    width: fit-content;

    gap: var(--size-3);
    border: var(--def-border);
    padding: var(--size-2) var(--size-3);
    border-radius: var(--border-radius-sl);
}

.qtdButton {
    background-color: var(--primary-color);
    color: var(--text-color-1);
    border: none;
    padding: var(--size-3) var(--size-6);
    border-radius: var(--border-radius-s);
    font-weight: bold;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.quantidadeDisplay {
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

/* ------------------------ Responsividade Celular ------------------------ */
@media (max-width: 700px) {

    .cardapioPreco {
        font-size: var(--text-m);
    }

    .cardapioDescricao {
        font-size: var(--text-sm);
        line-height: 1.3;
    }

    .qtdButton {
        padding: var(--size-2) var(--size-4);
    }

    .quantidadeDisplay {
        font-size: var(--text-sl);
    }

    .quantidadeControls {

        margin-top: var(--size-3);
    }
}