/* ------------------------ Cardápio ------------------------ */
.cardapioItem {
  display: flex;
  justify-content: space-between; /* separa esquerda e direita */
  align-items: center; /* centraliza verticalmente */
  width: 100%;
  padding: var(--size-2);
  border-bottom: var(--def-border);
  gap: var(--size-6);
  color: var(--text-color-1);
}

.cardapioRight {
  display: flex;
  flex-direction: row; /* foto + conteúdo lado a lado */
  align-items: flex-start; /* alinha topo */
  flex: 1;
}

.cardapioFoto {
  min-width: 100px;
  height: 100px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-sl);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.content {
  margin-left: var(--size-5);
  display: flex;
  flex-direction: column;
}

.cardapioNome {
  font-weight: bold;
  font-size: var(--text-l);
  color: var(--text-color-1);
  margin-bottom: var(--size-3);
}

.cardapioPreco {
  font-weight: bold;
  font-size: var(--text-l);
  color: var(--accent-2-color);
  margin-bottom: var(--size-3);
}

.cardapioDescricao {
  font-size: var(--text-m);
  margin-bottom: var(--size-3);
  line-height: 1.4;
  opacity: 0.9;
}

/* -------------------- Controles de Quantidade -------------------- */
.footer {
  margin-right: var(--size-6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.quantidadeControls {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: var(--size-3);
  border: var(--def-border);
  padding: var(--size-2) var(--size-3);
  border-radius: var(--border-radius-sl);
}

.qtdButton {
  background-color: var(--primary-color);
  color: var(--text-color-1);
  border: none;
  padding: var(--size-3) var(--size-6);
  border-radius: var(--border-radius-s);
  font-weight: bold;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.quantidadeDisplay {
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}

/* ------------------------ Responsividade Celular ------------------------ */
@media (max-width: 700px) {
  .cardapioNome {
    font-size: var(--text-m);
  }
  .cardapioPreco {
    font-size: var(--text-sl);
  }
  .cardapioDescricao {
    font-size: var(--text-sm);
    line-height: 1.3;
  }
  .qtdButton {
    padding: var(--size-2) var(--size-4);
  }
  .quantidadeDisplay {
    font-size: var(--text-sl);
  }
  .quantidadeControls {
    margin-top: var(--size-3);
  }
}
