.table {
    text-align: center;
    font-size: var(--text-m);
    width: 100%;
    border-collapse: collapse;
}


.table td,
.table th {
    padding: var(--size-3);
    border-bottom: var(--def-border);
    padding: 10px;
    text-wrap: nowrap;
    text-align: start;
    font-size: var(--text-m);
}

.table th {
    font-size: var(--text-l);
}



.td_obs input {
    padding: var(--size-3);
    font-size: var(--text-m);
    border-radius: var(--border-radius-s);
    border: var(--def-border);
    width: 100%;
}

.body {
    overflow-x: auto;
    /* scroll apenas na tabela */
}

@media (max-width: 700px) {

    .table td,
    .table th {
        padding: var(--size-3);
        border-bottom: var(--def-border);
        padding: 10px;
        text-wrap: nowrap;
        text-align: start;
        font-size: var(--text-sm);
    }

    .table th {
        font-size: var(--text-m);
    }

}