.carouselWrapper {
    width: 100%;
    overflow-x: auto;
    /* scroll horizontal */
    scroll-behavior: smooth;
    margin-bottom: var(--size-10);
    justify-content: center;
    background-color: var(--secondery-color);
    align-items: center;
    border: var(--def-border);
}

.carousel {
    display: flex;
    gap: var(--size-5);
    align-items: center;
    justify-content: center;
}

.carouselItem:hover {
    transform: scale(1.05);
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
    .carousel {
        justify-content: flex-start;
    }
}