/* Frete e total */
.summary {
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: var(--size-4);
    font-size: var(--text-sl);
    /* maior fonte */
    font-weight: 600;
    gap: var(--size-4);
    color: var(--text-color-1);
}

.summary span {
    color: var(--text-color-1);
}