.actions {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-2) var(--size-3);
    background-color: var(--background-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

.totalPreco {
    font-weight: bold;
    font-size: var(--text-l);
    margin-left: var(--size-2);
    color: var(--foreground-color);
    white-space: nowrap;
    /* evita quebrar em várias linhas e gerar overflow */
}