.ShoppingCart {
    border: none;
}

.container {
    flex-shrink: 0;
    background-color: var(--accent-color);
    color: var(--text-color-1);
    /* usa token ou fallback branco */
    padding: var(--size-5);
    margin: 0;
    border: none;
    border-radius: var(--border-radius-sl);
    transition: transform var(--transition-fast, 0.3s);
}

.container:hover {
    cursor: pointer;
    background-color: var(--accent-color-hover);
    box-shadow: var(--box-shadow);
}