.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--size-8);
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1000;
    gap: var(--size-15);
    background: var(--background-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    overflow-x: hidden;

}

.title {
    font-size: var(--text-l);
    font-weight: bold;
    color: var(--text-colo-1);
}

.settings,
.user {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .header {
        padding: 0 var(--size-3);
        height: var(--size-15);
    }

    .title {
        font-size: var(--text-m);
    }

    .toggleOptions {
        width: var(--size-9);
        height: var(--size-9);
    }
}