/* CLASSE BASE: Contém todas as propriedades comuns de estrutura e animação */
.carouselOption,
.selectedCarouselOption {
  cursor: pointer;
  min-width: var(--size-12);
  min-height: var(--size-12);
  border-radius: var(--border-radius-m);
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--text-sl);
}

.carouselOption {
  padding: var(--size-5);
  color: var(--accent-color);
  /* foreground-color */
}

.selectedCarouselOption {
  padding: var(--size-3);
  /* 5px aproximado */
  color: var(--accent-color);

  background-color: var(--primary-color);
  border: var(--def-border);
}
